body {
 font-family: Verdana, Sans-serif;
 text-align: center;
 width:600px;
 margin: auto;
}
 
.sec1 {
 background-color: #cccccc;
 width: 600px;
 height: 300px;
}
 
.sec2 {
 border: solid 1px #cccccc;
 width: 600px;
 height: 250px;
}

.sec3{
 background-color: #cccccc;
 height: 400px;
}

div {
 box-sizing: border-box;
}

.box {
 border: solid 1px white;
 display: inline-block;
 width: 100px;
}

.sec4 {
 border: solid 3px #cccccc;
 height: 300px;
}

.sec5 {
 background-color: #cccccc;
 height: 200px;
}
 
