body {
 font-family: Verdana, Sans-serif;
 margin: 0 auto;
 text-align: center;
 width: 85%;
}

@media screen and (max-width: 480px){
 body {
  width: 100%;
 }
}
 
header {
 margin-top: 20%;
 padding: 10% 0;
}

.kyoukann {
 background-color: #cccccc;
 padding: 5% 0;
}
 
.syouhinn {
 border: solid 1px #cccccc;
 padding: 5% 0;
}

.inlineblock ul {
 text-align: center;
 list-style: none;
 padding-left: none;
}

.inlineblock li {
 display: inline-block;
 background-color: #cccccc;
 width: 80px;
 padding: 10%;
 margin-left: 5px;
}
 
@media screen and (max-width:480px) {
.inlineblock li {
  width: 70%;
 }
}

.benefit {
 background-color: #cccccc;
 padding: 5% 0;
}

.list {
 width: 75%;
 margin: 0 auto;
}


.sabetsuka {
 border: solid 1px #cccccc;
 padding: 5% 0;
}


 
