body {
 font-family: Verdana, Sans-serif;
 margin: 0 auto;
 text-align: center;
 width:800px;
}
 
.kyoukann {
 background-color: #cccccc;
 height: 200px;
 padding-top: 20px;
}
 
.syouhinn {
 border: solid 1px #cccccc;
 height: 500px;
 padding-top: 20px;
}

.inlineblock ul {
 text-align: center;
 list-style: none;
 padding-left: 0;
}

.inlineblock li {
 display: inline-block;
 background-color: #cccccc;
 width: 100px;
 height: 30px;
 padding: 10px;
}
 

.benefit {
 background-color: #cccccc;
 height: 400px;
 padding-top: 20px;
}

.list {
 width: 600px;
 margin: 0 auto;
}


.sabetsuka {
 border: solid 1px #cccccc;
 height: 300px;
 padding-top: 20px;
}


 
